.viewport-container {
    background: #333333;
    > .slider {
        margin-top: 0;
        width: 50%;
        margin: auto;
    }
    .viewport {
        overflow: hidden;
        background: #000000;
        position: relative;
        margin-top: 0;
        width: 100%;
        height: calc(100% - 36px);
    }
}