.viewport-container {
    background: #333333;
    .zoom {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #ffffff;
        z-index: 99;
    }
    .viewport {
        overflow: hidden;
        background: #000000;
        position: relative;
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}